---
import { getCollection } from "astro:content";
import ArticleTitle from "~components/articleTitle.astro";
import HoverItem from "~components/HoverItem.astro";
import MoreInfo from "~components/MoreInfo.astro";
import Layout from "~layouts/Layout.astro";

const allFR = await getCollection("yatirimci-iliskileri-mobil-uygulamasi");

const TITLE = "Yatırımcı İlişkileri Mobil Uygulaması";
const DESCRIPTION = `FinarApp ile iki haftada Yatırımcı İlişkileri Mobil Uygulamanızı oluşturabiliriz. Hem Apple App Store hem de Google Play'de yayınlayabilir, tüm içeriklerini online yönetebilir, hissedarlarınız, yatırımcılarınız ve analistlerle nerede olurlarsa olsunlar daima temasta kalabilirsiniz.`;
const MOREINFO = `
<p>Finar olarak halka açık şirketlerle yatırımcılar arasındaki iletişimi daha kaliteli ve hızlı hale getirmek için dijital trendler ışığında inovatif ürünler tasarlıyoruz. Türkiye'de bir ilk olma özelliği taşıyan FinarApp uygulaması ile birlikte halka açık şirketler, yatırımcı ilişkileri iletişimine yönelik kendi uygulamalarını oluşturma olanağı elde etmektedir.</p>
<p>Müşterilerimizin kendi kurumsal kimliklerini kolaylıkla yansıtabileceği bu uygulama ile hisse performansından KAP bildirimlerine kadar istenilen tüm başlıklardaki bilgiler, uygulamayı iOS ve Android uyumlu mobil cihazlarına indiren yatırımcılara anlık olarak sunulmaktadır.</p>
<p>Ürün sorumluluğu yaklaşımımız çerçevesinde, FinarApp kullanan müşterilerimize 7/24 teknik destek hizmeti de sunuyoruz.</p>
<p>FinarApp ile ilgili daha fazla bilgi için <a href="https://finarapp.com" target="_blank">finarapp.com&nbsp;<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-3 h-auto inline"><path d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6l0-128c0-17.7-14.3-32-32-32L352 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z" fill="currentColor"/></svg></a> adresini ziyaret edebilirsiniz.</p>
`;

const { title = TITLE, description = DESCRIPTION, moreinfotext = MOREINFO } = Astro.props;
---

<Layout title={title} description={description} seoImage="./yatirimci-iliskileri-mobil-uygulamasi-og.png">
	<ArticleTitle title={title} spot={description} />
	<MoreInfo text={moreinfotext} />
	<div class="grid auto-rows-max grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 lg:grid-cols-4 xl:gap-8">
		{allFR.map((fr) => <HoverItem slug={fr.slug} title={fr.data.title} thumbnail={fr.data.thumbnail} thumbWidth={fr.data.thumbnail.width} thumbHeight={fr.data.thumbnail.height} />)}
	</div>
</Layout>
