---
import { getCollection } from "astro:content";
import AltMenu from "~components/altMenu.astro";
import ArticleTitle from "~components/articleTitle.astro";
import HoverItem from "~components/HoverItem.astro";
import MoreInfo from "~components/MoreInfo.astro";
import Layout from "~layouts/Layout.astro";
import { raporlamaAltMenuData } from "~navigation";

const allOFR = await getCollection("OFRCollection");

const TITLE = "Online Faaliyet Raporu";
const SUBTITLE = "Neden faaliyet raporunuzun çevrimiçi bir mikro sitesi olmalı?";
const DESCRIPTION = "Faaliyet raporunuz için, duyarlı tasarım yaklaşımı ile akıllı telefon, tablet ve bilgisayarlardan özgün okuma deneyimi sunan, kolay erişilir etkileyici mikro siteler inşa ediyoruz.";
const MOREINFO = `
<div class="break-inside-avoid">
	<p class="font-bold text-mavi mb-0">Çünkü, yenilikçi ve trendi bir okuma deneyimi sunar.</p>
	<p>Çevrimiçi faaliyet raporu okura, basılı rapor estetiğinde üç boyutlu bir okuma deneyimi sunuyor. Dilerseniz
		bir metni okura hem okutabilir, hem dinletebilir, hem de izletebilirsiniz. Rapor okuruna, dokunmatik ekran
		kullanımı ve interaktif gezinme seçenekleriyle benzersiz ve yepyeni bir okuma deneyimi sunarsınız.</p>
</div>
<div class="break-inside-avoid">
	<p class="font-bold text-mavi mb-0">Çünkü, raporunuzu dünyanın her yerinden çok geniş bir kesime ulaştırır.</p>
	<p>Cihaza duyarlı tasarlanmış çevrimiçi faaliyet raporunuzu, Android ve iOS işletim sistemi kullanan tüm mobil
	cihazlar aracılığıyla erişilebilir hale getirerek yüksek değerdeki ve potansiyel yatırımcılar ile diğer tüm
	paydaşlarınızın ilgisini çekebilir, onlara ulaşabilirsiniz.</p>
</div>
<div class="break-inside-avoid">
	<p class="font-bold text-mavi mb-0">Çünkü, faaliyet raporunuzu, kurumsal web siteniz, yatırımcı ilişkileri web siteniz,
	ürünleriniz ve çevrimiçi medyadaki tüm sosyal ağınızla kolayca entegre edebilirsiniz.</p>
	<p>Çevrimiçi faaliyet raporunuzu, tüm diğer online kurumsal hizmet, ürün ve organizasyonunuzla entegre
	edebilirsiniz. Facebook, Twitter, Linkedin gibi tüm sosyal ağlarla anlık interaktivite sağlanabilir,
	kurumunuzla ilgili güncel haber ve duyuruları rapor okuruyla hızlı ve kolayca buluşturabilirsiniz.</p>
</div>
<div class="break-inside-avoid">
	<p class="font-bold text-mavi mb-0">Çünkü, raporunuzla ilgilenenleri tanımanızı sağlar.</p>
	<p>Raporun bir alt hizmeti olarak verilen "Analytics Service" ile içeriklerin okur hareketlerini izleyebilir,
	hangi alanlarla daha çok ilgilendiği, dünyanın hangi bölgesinden daha çok okurunuz olduğu gibi temel bilgiler
	hakkında rapor alabilirsiniz.</p>
</div>
`;
---

<Layout title={TITLE} description={DESCRIPTION} seoImage="./online-faaliyet-raporu-og.png">
	<ArticleTitle title={TITLE} spot={DESCRIPTION} />
	<MoreInfo column={2} subtitle={SUBTITLE} text={MOREINFO} />
	<div class="grid auto-rows-max grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 lg:grid-cols-4 xl:gap-8">
		{allOFR.sort((a, b) => a.data.sort - b.data.sort).map((ofr) => <HoverItem slug={ofr.id} title={ofr.data.title} thumbnail={ofr.data.thumbnail} thumbWidth={ofr.data.thumbnail.width} thumbHeight={ofr.data.thumbnail.height} />)}
	</div>
	<AltMenu altMenuData={raporlamaAltMenuData} />
</Layout>
