---
import { getCollection } from "astro:content";
import ArticleTitle from "~components/articleTitle.astro";
import HoverItem from "~components/HoverItem.astro";
//import MoreInfo from "~components/MoreInfo.astro";
import Layout from "~layouts/Layout.astro";
import { FinarExperienceYear } from "~config";

const allKSS = await getCollection("kss");

const TITLE = "Kurumsal Sosyal Sorumluluk";
const DESCRIPTION = `Kurumsal raporlama alanında ${FinarExperienceYear} yıllık bir deneyime sahibiz. Uzun süredir birlikte çalışan işinin ehli geniş kadromuzla 2021&nbsp;yılında BIST&nbsp;30’da 10, BIST&nbsp;50’de ise 13&nbsp;şirkete faaliyet raporu alanında hizmet&nbsp;verdik.`;
const MOREINFO = ``;

const { title = TITLE, description = DESCRIPTION, moreinfotext = MOREINFO } = Astro.props;
---

<Layout title={title} description={description} seoImage="./kss-og.png">
	<ArticleTitle title={title} spot={description} />
	<!-- <MoreInfo text={moreinfotext} /> -->
	<div class="grid auto-rows-max grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 lg:grid-cols-4 xl:gap-8">
		{allKSS.map((kss) => <HoverItem slug={kss.slug} title={kss.data.title} thumbnail={kss.data.thumbnail} thumbWidth={kss.data.thumbnail.width} thumbHeight={kss.data.thumbnail.height} />)}
	</div>
</Layout>
