---
import Layout from "~layouts/Layout.astro";
import ArticleTitle from "~components/articleTitle.astro";
import MoreInfo from "~components/MoreInfo.astro";
import AltMenu from "~components/altMenu.astro";
import { surdurulebilirlikAltMenuData } from "~navigation";

const TITLE = "Sürdürülebilirlik Danışmanlığı";
const SPOT = "“Geleceği tahmin etmenin en iyi yolu, onu inşa etmektir.”";
const MOREINFO = `
<div class="break-inside-avoid">
<p class="font-bold text-mavi mb-0">Sürdürülebilirlik danışmanlığı almak neden önemli?</p>
<p>Sürdürülebilirlik, varılması gereken bir noktadan ziyade hedeflerinize giden yolda size ışık tutacak en önemli rehber. Şirketlerin, sürdürülebilirliği bir kültür olarak sahiplenmesi gerekiyor. Şirketler, iş modellerine ve faaliyetlerine sürdürülebilirliği entegre edebilmek için sürdürülebilirlik yolculuklarını tasarlamak zorunda.</p>
</div>
<p class="font-bold text-mavi mb-0">Neden Finar’la çalışmalısınız?</p>
<ul class="mt-0">
	<li class="mt-0">Sürdürülebilirliğin kurum kültürünüze entegrasyonunu sağlıyoruz.</li>
	<li class="mt-0">Sürdürülebilir bir şirket olabilmek için sürdürülebilir ve bu konuda yetişmiş bir insan sermayesine ihtiyacınız olacak. “Sürdürülebilirlik farkındalıkla başlar” diyerek şirketinize sürdürülebilirliğin farklı boyutlarında interaktif ve derinlikli bilgi içeren eğitimler sağlıyoruz.</li>
	<li class="mt-0">Çifte önemlilik yaklaşımıyla şirketinizin sürdürülebilirlik önceliklerini küresel standartlar ışığında belirliyoruz.</li>
	<li class="mt-0">Şirketinizin paydaş evrenini tanımlıyor, paydaşlarla iletişim stratejileri üretiyoruz.</li>
	<li class="mt-0">Sürdürülebilirlik stratejinizi oluşturuyor, ESG yol haritanızı çıkararak her konu özelinde benchmarkingler ile kapsamlı bir çalışma gerçekleştiriyoruz.</li>
	<li class="mt-0">Halka açık şirketler için sürdürülebilirlik imajınızı çok daha güçlendirmek adına BIST Sürdürülebilirlik Endeksi’nde yer almanıza yardımcı oluyoruz.</li>
	<li class="mt-0">EcoVadis gibi dünyanın en saygın sürdürülebilirlik derecelendirme kuruluşlarından yüksek notlar almanıza destek oluyoruz.</li>
	<li class="mt-0">Çevresel ayak izini ölçüyor, yönetiyor ve hedefler belirlemenizi sağlıyoruz.</li>
</ul>
`;

// sadece bu sayfa için AltMenuData.sideinfo datasını mutate ettim...
const surdurulebilirlikAltMenuDataExtended = { ...surdurulebilirlikAltMenuData };
surdurulebilirlikAltMenuDataExtended.sideinfo = "Sürdürülebilirlik danışmanlığı<br class='inline-block sm:hidden lg:block' /> hizmetlerimiz hakkında<br class='inline-block sm:hidden lg:block' /> detaylı bilgi için:";
---

<Layout title={TITLE} description={SPOT} seoImage="./surdurulebilirlik-danismanligi-og.png">
	<ArticleTitle title={TITLE} spot={SPOT} />
	<MoreInfo column={2} text={MOREINFO} />
	<AltMenu altMenuData={surdurulebilirlikAltMenuDataExtended} />
</Layout>
