---
import { getCollection } from "astro:content";
import ArticleTitle from "~components/articleTitle.astro";
import FirstSpace from "~components/firstSpace.astro";
import HoverItem from "~components/HoverItem.astro";
//import MoreInfo from "~components/MoreInfo.astro";
import TitleWithLine from "~components/TitleWithLine.astro";
import Layout from "~layouts/Layout.astro";

const allKW = await getCollection("KWCollection");

const TITLE = "Kurumsal Web Siteleri";
const DESCRIPTION = `Kurumların vitrini olan web siteleri için kurumsal kimliğiniz doğrultusunda kolay erişilebilir, kolay yönetilebilir ve dikkat çekici tasarım çözümleri sunuyoruz. İmaj veya satış odaklı site ihtiyacınız ya da revizyon için buradayız.`;
//const MOREINFO = ``;
---

<Layout title={TITLE} description={DESCRIPTION} seoImage="./kurumsal-web-siteleri-og.png">
	<ArticleTitle title={TITLE} spot={DESCRIPTION} />
	{
		/*
		<!-- <MoreInfo text={MOREINFO} /> -->
		*/
	}
	<TitleWithLine />
	<FirstSpace height={28} />
	<div class="grid auto-rows-max grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 lg:grid-cols-4 xl:gap-8">
		{allKW.sort((a, b) => a.data.sort - b.data.sort).map((kk) => <HoverItem slug={kk.id} title={kk.data.title} thumbnail={kk.data.thumbnail} thumbWidth={kk.data.thumbnail.width} thumbHeight={kk.data.thumbnail.height} />)}
	</div>
</Layout>
