---
import Layout from "~layouts/Layout.astro";
import { Content, frontmatter } from "~/finar/finarsal-gostergeler.md";
import ContentLayout2Column1248 from "~layouts/ContentLayout-2Column-12-4-8.astro";
import FinarsalGosterge from "~components/finarsal-gostergeler-svg.astro";
import type { FinarsalGostergelerSVGType as svgType } from "~/types/types";
import FirstSpace from "~components/firstSpace.astro";
---

<Layout title={frontmatter.title} seoImage={frontmatter.seoImage}>
	<FirstSpace height={64} />
	<ContentLayout2Column1248 title={frontmatter.title} subtitle={frontmatter.subtitle}>
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-4 md:grid-cols-3 md:gap-8">
			{frontmatter.svgitems && frontmatter.svgitems.map((item: svgType) => <FinarsalGosterge iconSvg={item.iconSvg} number={item.number} text={item.text} bgColor={item.bgColor} />)}
		</div>
		<Content />
	</ContentLayout2Column1248>
</Layout>
