---
import { getCollection } from "astro:content";
import SingleItemLayout from "~layouts/SingleItemLayout.astro";
import MultiItemLayout from "~layouts/MultiItemLayout.astro";
import CollectionRelatedItems from "~components/collectionRelatedItems.astro";

export async function getStaticPaths() {
	const allFR = await getCollection("faaliyet-raporu");
	return allFR.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry, itemType: entry.data.type },
	}));
}

const { entry, itemType } = Astro.props;
const { Content } = await entry.render();
---

{
	itemType == "singleItem" ? (
		<SingleItemLayout title={entry.data.title} slug={entry.slug} description={entry.data.spot} collection={entry.collection} spot={entry.data.spot} category={entry.data.category} awarded={entry.data.awarded} grand={entry.data.grand} coverImage={entry.data.coverImage} singleItemSliderImages={entry.data.singleItemSliderImages} singleItemSpreadImages={entry.data.singleItemSpreadImages} VimeoId={entry.data.VimeoId} YoutubeId={entry.data.YoutubeId}>
			<Content />
			<div slot="relatedCollectionItems">
				<CollectionRelatedItems collection={entry.collection} />
			</div>
		</SingleItemLayout>
	) : itemType == "multiItem" ? (
		<MultiItemLayout title={entry.data.title} slug={entry.slug} description={entry.data.spot} collection={entry.collection} spot={entry.data.spot} category={entry.data.category}>
			<Content />
			<div slot="relatedCollectionItems">
				<CollectionRelatedItems collection={entry.collection} />
			</div>
		</MultiItemLayout>
	) : (
		(Astro.response.status = 404) && (Astro.response.statusText = "neither 'singleItem' nor 'multiItem'")
	)
}
