---
//import { GoogleAnalytics } from "astro-analytics";
import CustomStyles from "~components/CustomStyles.astro";

export interface Props {
	title: string;
	description: string;
	seoImage: string;
}

const { title, description, seoImage } = Astro.props;
//const url = Astro.url;

const formattedTitle = title.toLocaleUpperCase("tr-TR") + " - finarkurumsal.com";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(seoImage, Astro.url);
---

<slot name="head" />

{/* Global Metadata */}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
{/*<meta name="generator" content={Astro.generator} />*/}

{/* Primary Meta Tags */}
<title>{formattedTitle}</title>
<meta name="title" content={formattedTitle} />
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />

{/* Google Analytics */}
{/* url.hostname === "finarkurumsal.com" && <GoogleAnalytics id="G-WV49SXX0P7" /> */}

{/* Open Graph / Facebook */}
<meta property="og:type" content="website" />
<meta property="og:site_name" content="FİNAR" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />

{/* Twitter */}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />

{/* Fonts */}
<CustomStyles />
