---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
	imagePath: string;
	altText: string;
	name: string;
	unvan: string;
}

const { imagePath, altText, name, unvan } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("/src/finar/ailemiz/*.{jpeg,jpg,png}");
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "/src/finar/ailemiz/*.{jpeg,jpg,png}"`);
---

<div class="ekipuyesi mx-auto md:w-[65%] lg:w-[75%]">
	<button>
		<Image src={images[imagePath]()} alt={altText} widths={[253, 349, 305, 344]} sizes={`(max-width: 576px) calc((100vw - 2.5rem - 30px) / 2), (max-width: 768px) 253px, (max-width: 1024px) 349px, (max-width: 1140px) 305px, (min-width: 1140px) 344px`} />
		<div class="info">
			<strong class="uppercase">{name}</strong>
			<span>{unvan}</span>
		</div>
	</button>
</div>
