---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import FirstSpace from "./firstSpace.astro";

interface Props {
	slug: string;
	title: string;
	guestName?: string;
	guestTitle?: string;
	cardImage?: ImageMetadata;
	cardImageUrl?: string;
}

const { slug, title, guestName, guestTitle, cardImage, cardImageUrl } = Astro.props;
---

<div class="bg-none p-4 hover:bg-gri4">
	<a href={`/vlog/${slug}/`}>
		{cardImage ? <Image src={cardImage} alt={title} class="m-0" /> : cardImageUrl ? <Image src={cardImageUrl} alt={title} class="m-0" width="535" height="301" /> : null}
		{
			guestName ? (
				<p class="mb-3 mt-4 text-sm text-mavi">
					<strong>{guestName}</strong>
					<br />
					<Fragment set:html={guestTitle} />
				</p>
			) : (
				<FirstSpace height={20} />
			)
		}
		<p class="mb-6 text-balance text-xl leading-[1.6rem] tracking-[.4px]">{title}</p>
	</a>
</div>
