---
import { getCollection } from "astro:content";
import ArticleTitle from "~components/articleTitle.astro";
import HoverItem from "~components/HoverItem.astro";
//import MoreInfo from "~components/MoreInfo.astro";
import TitleWithLine from "~components/TitleWithLine.astro";
import Layout from "~layouts/Layout.astro";

const allYS = await getCollection("YSCollection");

const TITLE = "Yatırımcı Sunumları";
const DESCRIPTION = `Şirketin yıllık performansı kadar bu performansın hissedarlara, yatırımcılara ve analistlere nasıl anlatıldığı da son derece önemlidir. Sunumlarınızı daha çekici grafikler ve görsel öğelerle yeniden tasarlıyor, çeyrekler bazında güncelleme hizmeti veriyoruz.`;
// const MOREINFO = ``;

const { title = TITLE, description = DESCRIPTION /* , moreinfotext = MOREINFO */ } = Astro.props;
---

<Layout title={title} description={description} seoImage="./yatirimci-sunumlari-og.png">
	<ArticleTitle title={title} spot={description} />
	<!-- <MoreInfo text={moreinfotext} /> -->
	<TitleWithLine />
	<div class="grid auto-rows-max grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 lg:grid-cols-4 xl:gap-8">
		{allYS.map((fr) => <HoverItem slug={fr.id} title={fr.data.title} thumbnail={fr.data.thumbnail} thumbWidth={fr.data.thumbnail.width} thumbHeight={fr.data.thumbnail.height} />)}
	</div>
</Layout>
