---
import { getCollection } from "astro:content";
import ArticleTitle from "~components/articleTitle.astro";
import HoverItem from "~components/HoverItem.astro";
import MoreInfo from "~components/MoreInfo.astro";
import Layout from "~layouts/Layout.astro";

const allFR = await getCollection("YIWSCollection");

const TITLE = "Yatırımcı İlişkileri Web Sitesi";
const DESCRIPTION = `Yatırımcı ilişkileri için duyarlı tasarım yaklaşımı ile yeni nesil mikro siteler inşa ediyoruz. Projelendirme, konsept tasarım, yazılım, içerik geliştirme ve çok dilde uygulama hizmetleri ile anahtar teslim hizmet veriyoruz.`;
const MOREINFO = `
<p>Tüm iş süreçlerinin dijitalleştiği, büyük verinin sınırları zorladığı günümüz dünyasında, doğru bilgiye ulaşmayı olanaklı kılacak "akıllı" yol haritaları hayati önem taşıyor. 24 yıldan bu yana yatırımcı ilişkileri iletişimi alanında çok sayıda projeyi hayata geçiren Finar olarak, dijital trendleri yakından takip ederek müşterilerimize, doğru içeriği en son teknolojiler ve doğru kanallarla hedefe ulaştıracak entegre bir "duyarlı tasarım" yaklaşımı sunuyor ve müşterilerimizin kurumsal itibarlarını paydaşları nezdinde en iyi şekilde yönetmelerini sağlıyoruz.</p>
<div class="break-inside-avoid">
	<p class="font-bold text-mavi mb-0">Durum tespiti yaparız.</p>
	<ul>
		<li>Paydaş, kanal ve içerik analizi</li>
		<li>Web sitesi ve mobil uygulama kıyaslaması</li>
		<li>İçerik ve görsel ihtiyaçların tespiti</li>
	</ul>
</div>
<div class="break-inside-avoid">
	<p class="font-bold text-mavi mb-0">Değerlendirir ve planlarız.</p>
	<ul>
		<li>Tasarım ve içerik geliştirme</li>
		<li>İngilizce'ye çeviri ve editing</li>
		<li>Bilginin tasarımı (infografik)</li>
		<li>Etkileşimli grafik, film ve kampanyalar</li>
	</ul>
</div>
<div class="break-inside-avoid">
	<p class="font-bold text-mavi mb-0">Üretir ve entegre ederiz.</p>
	<ul>
		<li>Yatırımcı İlişkileri web sitesi</li>
		<li>Kurumsal web sitesi</li>
		<li>Ürün ve hizmet siteleri</li>
		<li>İnternet ve sosyal ağ reklam kampanyaları</li>
	</ul>
</div>
<div class="break-inside-avoid">
	<p class="font-bold text-mavi mb-0">Ölçer ve iyi bakarız.</p>
	<ul>
	<li>Trafik ölçme ve değerlendirme, destek ve bakım</li>
	<li>Güncelleme</li>
	</ul>
</div>
`;

const { title = TITLE, description = DESCRIPTION, moreinfotext = MOREINFO } = Astro.props;
---

<Layout title={title} description={description} seoImage="./yatirimci-iliskileri-web-sitesi-og.png">
	<ArticleTitle title={title} spot={description} />
	<MoreInfo text={moreinfotext} />
	<div class="grid auto-rows-max grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 lg:grid-cols-4 xl:gap-8">
		{allFR.map((fr) => <HoverItem slug={fr.id} title={fr.data.title} thumbnail={fr.data.thumbnail} thumbWidth={fr.data.thumbnail.width} thumbHeight={fr.data.thumbnail.height} />)}
	</div>
</Layout>
