---
import Layout from "~layouts/Layout.astro";
//import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import CollectionItemTitle from "~components/collectionItemTitle.astro";
import CollectionName from "~components/collectionName.astro";
import SingleItemCoverImage from "~components/SingleItemCoverImage.astro";
import TitleWithLine from "~components/TitleWithLine.astro";
import CollectionRelatedItems from "~components/collectionRelatedItems.astro";

export async function getStaticPaths() {
	const allKW = await getCollection("kurumsal-web-siteleri");
	return allKW.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const title = entry.data.title;
const spot = entry.data.spot;
const category = entry.data.category;
const coverImage = entry.data.coverImage;
const collection = entry.collection;
const slug = entry.slug;
---

<Layout title={title} description={spot} seoImage={`${import.meta.env.SITE}${collection}/${slug}/${slug}-og.png`}>
	{category && <CollectionName category={category} collection={collection} />}
	<CollectionItemTitle collectionItemTitle={title} />
	<!-- <TitleWithLine title={title} upper={true} /> -->
	<SingleItemCoverImage src={coverImage} coverImageAlt={title} />

	<div class="my-4 grid grid-cols-1 gap-4 lg:my-8 lg:gap-8">
		<div class="prose prose-h3:mb-4 prose-h3:font-zilla prose-h3:text-2xl prose-h3:font-normal prose-p:mb-4 prose-p:mt-0 prose-a:no-underline">
			<Content />
		</div>
	</div>

	<div slot="relatedCollectionItems">
		<CollectionRelatedItems collection={collection} />
	</div>
</Layout>
