---
import { Picture, Image } from "astro:assets";
import Layout from "~layouts/Layout.astro";
import chevDown from "~images/chevron-down-light.svg?raw";
import arrowright from "/arrow-right.svg?raw";
import SingleItemCoverImage from "~components/SingleItemCoverImage.astro";
import OdullerSquareImage from "~components/OdullerSquareImage.astro";
import HoverItem from "~components/HoverItem.astro";
import TitleWithLine from "~components/TitleWithLine.astro";
import GetSingleCollectionEntry from "~components/getSingleCollectionEntry.astro";
import CollapseWithLine from "~components/CollapseWithLine.astro";

import arc2021 from "../../images/oduller/2021/ARC-ODUL.jpg";
import odul2021 from "../../images/oduller/2021/Finar-Odul-Gorseli-2021.png";
import odul2020 from "../../images/oduller/2020/FNR_ARC_odul_web.jpg";
import kore2019 from "../../images/oduller/2019/FNR-MutluSonKORE.png";
import arc2019 from "../../images/oduller/2019/Finar_2019_ARC_Odul_Linkedin.jpg";
import arc2018 from "../../images/oduller/2018/Finar_2018_Odul_01.png";
import arc2018_2 from "../../images/oduller/2018/Finar_2018_Odul_02.png";
import arc2018_3 from "../../images/oduller/2018/Finar_2018_Odul_03.png";
import lacpWinner2019 from "../../images/oduller/2019/FNR_LACP_Linkedin_post_uyg3.jpg";
import agencyoftheyear from "../../images/oduller/2019/Finar_2019_Campaign.png";
import odul2017 from "../../images/oduller/2014/odul_background.png";
import arclogo from "../../images/oduller/2014/ARC_Logo.png";
import finarKalite from "../../images/oduller/Finar_Kalitesi_Odulornek.png";
import enIyiRapor from "../../images/oduller/Finar_Tav_Odul.png";
import arcawards from "../../images/oduller/arc-awards.svg";
import galaxyawards from "../../images/oduller/galaxy-awards.svg";
import lacpvision from "../../images/oduller/lacp-vision.svg";
import lacpspotlights from "../../images/oduller/lacp-spotlights.svg";
import creativityawards from "../../images/oduller/creativity-awards.svg";

const seoImage = "/og/oduller-og.png";
const title = "Ödüller";
type data = {
	year: number;
	icon: string;
	open: boolean;
	collapseTitleClass?: string;
	items: {
		link?: string;
		image: ImageMetadata;
		loading?: "eager" | "lazy" | null | undefined;
		alt: string;
	}[];
};
const datas: data[] = [
	{
		year: 2021,
		icon: chevDown,
		open: true,
		collapseTitleClass: "",
		items: [
			{
				link: "arc-2021",
				image: arc2021,
				alt: "35. ARC Ödülleri",
			},
			{
				link: "lacp-2021",
				image: odul2021,
				alt: "Finar büyük ödülleri Türkiye'ye getirmeye devam ediyor!",
				loading: "lazy",
			},
		],
	},
	{
		year: 2020,
		icon: chevDown,
		open: false,
		collapseTitleClass: "mt-[20px]",
		items: [
			{
				link: "toplam-24-odul",
				image: odul2020,
				alt: "ABD'den yine büyük ödüllerler dönüyoruz.",
				loading: "lazy",
			},
		],
	},
	{
		year: 2019,
		icon: chevDown,
		open: false,
		collapseTitleClass: "mt-[20px]",
		items: [
			{
				link: "dunyanin-en-iyi-kurumsal-tasarim-ajansi",
				image: kore2019,
				alt: "Mutlu sezon finali",
				loading: "lazy",
			},
			{
				link: "biz-altin-madenini-amerikada-bulduk",
				image: arc2019,
				alt: "Biz altın madenini Amerika'da bulduk",
				loading: "lazy",
			},
			{
				link: "abdden-yine-buyuk-odullerle-donuyoruz",
				image: lacpWinner2019,
				alt: "Uluslararası başarılarımıza yenilerini ekledik.",
				loading: "lazy",
			},
			{
				image: agencyoftheyear,
				alt: "Yine, yeniden yılın ajansıyız!",
				loading: "lazy",
			},
		],
	},
];
---

<Layout title={title} seoImage={seoImage}>
	{
		datas.map((data) => {
			return (
				<CollapseWithLine withLineTitle={data.year.toString()} collapseOpen={data.open} collapseTitleClass={data.collapseTitleClass}>
					{data.items.map((item) => {
						return (
							<div class="odul-photo">
								{item.link ? (
									<a href={`/oduller/${item.link}/`} aria-label={item.alt}>
										<SingleItemCoverImage src={item.image} coverImageAlt={item.alt} loading={item.loading} />
										<div class="info">
											<span class="absolute bottom-[30px] left-[30px] hidden h-[14px] w-[24px] text-mavi md:block">
												<Fragment set:html={arrowright} />
											</span>
										</div>
									</a>
								) : (
									<SingleItemCoverImage src={item.image} coverImageAlt={item.alt} loading={item.loading} />
								)}
							</div>
						);
					})}
				</CollapseWithLine>
			);
		})
	}
	<CollapseWithLine withLineTitle="2018" withLineTracking={true} collapseTitleClass="mt-[20px]">
		<div class="odul-photo grid grid-cols-1">
			<a href="/oduller/arcden-buyuk-odulleri-yine-turkiyeye-getirdik/">
				<SingleItemCoverImage src={arc2018} loading="lazy" coverImageAlt="ARC'den büyük ödülleri yine Türkiye'ye getirdik." />
				<div class="absolute top-0 h-[calc(100%-0.5em)] w-full p-[.5em] text-[20px] sm:text-[30px] md:text-[40px] lg:text-[64px]">
					<p class="big-title mb-[.5em] font-zilla leading-tight text-white"><strong>ARC'den</strong><br />büyük ödülleri<br />yine Türkiye'ye<br />getirdik.</p>
					<span class="absolute bottom-[30px] left-[30px] hidden h-[14px] w-[24px] text-white md:block"><Fragment set:html={arrowright} /></span>
				</div>
			</a>
		</div>
		<div class="grid grid-cols-1 sm:grid-cols-2 sm:justify-between sm:gap-8">
			<div class="photo relative">
				<a href="/oduller/yilin-kurumsal-iletisim-ajansi-olduk/">
					<OdullerSquareImage src={arc2018_2} loading="lazy" alt="Yılın kurumsal iletişim ajansı olduk!" />
					<span class="info backnone absolute left-0 top-0 p-8">
						<h2 class="big-title text-center font-zilla text-[24px] leading-tight sm:text-[20px] md:text-[24px] lg:text-[48px]">Yılın kurumsal iletişim ajansı olduk!</h2>
					</span>
				</a>
			</div>
			<div class="photo relative">
				<a href="/oduller/and-oscar-goes-to/">
					<OdullerSquareImage src={arc2018_3} loading="lazy" alt="... and the Oscar again goes to Finar!" />
					<span class="info backnone absolute left-0 top-0 p-8">
						<h2 class="big-title text-center font-zilla text-[24px] leading-tight sm:text-[20px] md:text-[24px] lg:text-[48px]">... and the Oscar again goes to Finar!</h2>
					</span>
				</a>
			</div>
		</div>
	</CollapseWithLine>
	<CollapseWithLine withLineTitle="2014" withLineTracking={true} collapseTitleClass="mt-[20px]">
		<div class="odul-photo">
			<a href="/oduller/dunyanin-en-iyisi/">
				<SingleItemCoverImage src={odul2017} coverImageAlt='Finar, "Dünyanın en iyi faaliyet raporu ajansı" seçildi.' loading="lazy" />
				<div class="info text-[20px] sm:text-[30px] md:text-[40px] lg:text-[64px]">
					<p class="big-title mb-[.5em] font-zilla leading-tight text-black"><strong>Finar</strong><br />ARC jurisi tarafından<br />dünyanın en iyi raporlama<br />ajansı seçildi.</p>
					<Image class="h-auto w-[30px] md:w-[60px] lg:w-[100px]" src={arclogo} alt="ARC Logo" />
					<span class="absolute bottom-[30px] left-[30px] hidden h-[14px] w-[24px] text-black md:block"><Fragment set:html={arrowright} /></span>
				</div>
			</a>
		</div>
	</CollapseWithLine>
	<div class="mt-6 flex flex-col sm:flex-row sm:justify-between sm:gap-8">
		<div class="photo">
			<TitleWithLine title="2012" />
			<div class="relative">
				<a href="/oduller/international-star-awards-for-quality/">
					<OdullerSquareImage src={finarKalite} loading="lazy" />
					<span class="info backnone absolute left-0 top-0 p-8">
						<h2 class="big-title font-zilla text-[24px] leading-tight sm:text-[20px] md:text-[24px] lg:text-[48px]">"Finar Kurumsal Kalitesi"ne <br />uluslararası <br />tescil!</h2>
					</span>
					<span class="absolute bottom-[30px] left-[30px] hidden h-[14px] w-[24px] text-black md:block"><Fragment set:html={arrowright} /></span>
				</a>
			</div>
		</div>
		<div class="photo">
			<TitleWithLine title="2011" />
			<div class="relative">
				<a href="/oduller/dunyanin-en-iyi-faaliyet-raporunu-finar-tasarladi/">
					<OdullerSquareImage src={enIyiRapor} loading="lazy" />
					<span class="info backnone absolute left-0 top-0 p-8">
						<h2 class="big-title text-pretty font-zilla text-[24px] leading-tight sm:text-[20px] md:text-[24px] lg:text-[48px]">Dünyanın en iyi faaliyet raporunu Finar <br class="hidden sm:inline md:hidden lg:inline" />tasarladı.</h2>
					</span>
					<span class="absolute bottom-[30px] left-[30px] hidden h-[14px] w-[24px] text-black md:block"><Fragment set:html={arrowright} /></span>
				</a>
			</div>
		</div>
	</div>
	<TitleWithLine />
	<div id="awardInstitutions" class="grid grid-cols-1 gap-8 pt-[12px] sm:grid-cols-2 md:grid-cols-3">
		<HoverItem slug="arc-awards" title="ARC Awards" thumbnail={arcawards} thumbWidth={548} thumbHeight={548} />
		<HoverItem slug="galaxy-awards" title="Galaxy Awards" thumbnail={galaxyawards} thumbWidth={548} thumbHeight={548} />
		<HoverItem slug="lacp-vision" title="LACP VIsIon Awards" thumbnail={lacpvision} thumbWidth={548} thumbHeight={548} />
		<HoverItem slug="lacp-spotlights" title="LACP SpotlIght Awards" thumbnail={lacpspotlights} thumbWidth={548} thumbHeight={548} />
		<HoverItem slug="creativity-awards" title="CreatIvIty Awards" thumbnail={creativityawards} thumbWidth={548} thumbHeight={548} />
	</div>
	<div class="mt-8 bg-gri4 pb-8" id="odul2021">
		<div class="grid grid-cols-1">
			<h1 class="px-4 py-4 font-zilla text-3xl sm:px-8 sm:py-8 sm:text-5xl md:px-16 md:py-16">2021 yılı ödüllerimiz</h1>
		</div>
		<Picture loading="lazy" src={arc2021} alt="35. ARC Ödülleri" class="mb-8 w-full" widths={[640, 768, 1024, arc2021.width]} formats={["webp", "jpg"]} sizes={`(max-width: 640px) 608px, (max-width: 768px) 736px, (max-width: 1024px) 992px, (max-width: 1280px) 1248px, (min-width: 1280px) ${arc2021.width}px`} />
		<div class="prose px-4 py-4 prose-h1:font-zilla prose-h1:text-2xl prose-h1:text-mavi prose-h2:mb-0 prose-h2:mt-0 prose-h2:text-base prose-h2:text-mavi prose-p:mb-4 prose-li:my-0 sm:px-8 sm:py-8 md:px-16 md:py-16">
			<GetSingleCollectionEntry collection="oduller" entrySlug="arc-2021" />
		</div>
		<Picture loading="lazy" src={odul2021} alt="FİNAR büyük ödülleri Türkiye'ye getirmeye devam ediyor" class="my-8 w-full" widths={[640, 768, 1024, odul2021.width]} formats={["webp", "jpg"]} sizes={`(max-width: 640px) 608px, (max-width: 768px) 736px, (max-width: 1024px) 992px, (max-width: 1280px) 1248px, (min-width: 1280px) ${odul2021.width}px`} />
		<div class="prose px-4 py-4 prose-h1:font-zilla prose-h1:text-2xl prose-h1:text-mavi prose-h2:mb-0 prose-h2:mt-0 prose-h2:text-base prose-h2:text-mavi prose-p:mb-4 prose-li:my-0 sm:px-8 sm:py-8 md:px-16 md:py-16">
			<GetSingleCollectionEntry collection="oduller" entrySlug="lacp-2021" />
		</div>
	</div>
</Layout>
<style>
	.odul-photo {
		position: relative;
		.info {
			position: absolute;
			top: 0;
			padding: 0.5em;
			width: 100%;
			height: 100%;
			/* height: calc(100% - 0.5em); */
		}
	}
</style>
