---
import Layout from "~layouts/Layout.astro";
import ArticleTitle from "~components/articleTitle.astro";
import ReferansImage from "~components/referansImage.astro";
import FirstSpace from "~components/firstSpace.astro";
const seoImage = "/og/referanslar-og.png";
const title = "Referanslar";
const spot = "1994’ten bu yana alanlarında çok özel konumda bulunan pek çok markanın gücüne güç katmaktan, farklı iletişim çalışmalarıyla yenilikçi iletişim kanalları oluşturmaktan dolayı mutluyuz.";

function refImagePathsFn(): string[] {
	const rip = [];
	for (let i = 0; i < 265; i++) {
		const refImageNumber: string = i.toString().padStart(4, "0");
		if (refImageNumber === "0004" || refImageNumber === "0125" || refImageNumber === "0176") {
			continue;
		}
		rip.push(`/src/images/referanslar/Finar_WEB_Referanslar_${refImageNumber}.png`);
	}
	return rip;
}
const refImagePaths = refImagePathsFn();
---

<Layout title={title} description={spot} seoImage={seoImage}>
	<ArticleTitle title={title} spot={spot} />
	<FirstSpace height={39} />
	<div class="prose grid grid-cols-3 gap-4 prose-img:m-0 prose-img:p-0 md:grid-cols-4 md:gap-8 lg:grid-cols-6">
		{
			refImagePaths.map((refImagePath: string) => {
				return <ReferansImage imagePath={refImagePath} altText={`ReferansLogo`} />;
			})
		}
	</div>
</Layout>

<script is:inline>
	console.log("filtered --------- on '/src/images/referanslar/*.png'");
</script>
