---
import { Image } from "astro:assets";
import Awardimage from "~components/Awardimage.astro";
import Swiper from "~components/swiper/swiper.astro";
import TitleWithLine from "~components/TitleWithLine.astro";

type Props = {
	oneItemTitle: string;
	oneItemSubTitle?: string;
	sliderImages: ImageMetadata[];
	awarded: boolean;
};

const { oneItemTitle, oneItemSubTitle, sliderImages, awarded } = Astro.props;
---

<TitleWithLine title={oneItemTitle} />

{
	sliderImages.length == 1 ? (
		<Image loading="eager" src={sliderImages[0]} alt={oneItemTitle} class="my-4 w-full" widths={[544, 736, 992, 1248]} sizes={`(max-width: 575.98px) 100vw, (max-width: 767.98px) 544w, (max-width: 1023.98px) 736w, (max-width: 1279.98px) 992w, (min-width: 1280px) 1248w`} />
	) : sliderImages.length > 1 ? (
		//sliderImages.map((image) => <Image src={image} alt={oneItemTitle} class="w-full my-4" />)
		<Swiper swiperImageAlt={oneItemTitle} swiperimages={sliderImages} />
	) : (
		(Astro.response.status = 404) && (Astro.response.statusText = "neither 'singleImage' nor 'sliderImages', please check image imports")
	)
}

{
	oneItemSubTitle && (
		<div class="my-4 grid grid-cols-1 gap-4 lg:my-8 lg:grid-cols-12 lg:gap-8">
			<div class="lg:col-start-1 lg:col-end-6">
				<h2 class="mb-8 mt-0 font-zilla text-5xl/tight font-light">{oneItemSubTitle}</h2>
				{awarded && <Awardimage alt={oneItemSubTitle} />}
			</div>
			<div class="prose prose-p:mb-4 lg:col-start-6 lg:col-end-13">
				<slot />
			</div>
		</div>
	)
}
