---
import { Image } from "astro:assets";
import Awardimage from "~components/Awardimage.astro";
import Swiper from "~components/swiper/swiper.astro";

type Props = {
    title: string;
    spot?: string;
    singleImage?: ImageMetadata;
    sliderImages?: ImageMetadata[];
    awarded: boolean;
};

const { title, spot, singleImage, sliderImages, awarded } = Astro.props;
---

<h3 class="multiitemonetitle"><span>{title}</span></h3>

{
    singleImage ? (
        <Image loading="eager" src={singleImage} alt={title} class="w-full my-4" />
    ) : sliderImages ? (
        //sliderImages.map((image) => <Image src={image} alt={title} class="w-full my-4" />)
        <Swiper title={title} swiperimages={sliderImages} />
    ) : (
        (Astro.response.status = 404) && (Astro.response.statusText = "neither 'singleImage' nor 'sliderImage'")
    )
}

{
    spot && (
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 my-4 lg:my-8">
            <div>
                <h2 class="font-zilla font-light text-5xl/tight mt-0 mb-8">{spot}</h2>
                {awarded && <Awardimage alt={title} />}
            </div>
            <div>
                <slot />
            </div>
        </div>
    )
}
