---
import Layout from "~layouts/Layout.astro";
import CollectionName from "~components/collectionName.astro";
import CollectionItemTitle from "~components/collectionItemTitle.astro";
import CollectionItemSpot from "~components/collectionItemSpot.astro";

type Props = {
	title: string;
	description: string;
	category: string;
	collection: string;
	spot?: string;
	slug: string;
};

const { title, description, category, collection, spot, slug } = Astro.props;
---

<Layout title={title} description={description} seoImage={`${import.meta.env.SITE}${collection}/${slug}/${slug}-og.png`}>
	<CollectionName category={category} collection={collection} />
	<CollectionItemTitle collectionItemTitle={title} />
	{spot && <CollectionItemSpot collectionItemSpot={spot} />}
	<slot />
</Layout>
{
	/* <h2 class="mb-0 mt-0 w-full pb-16 pt-3 font-zilla text-4xl lg:w-10/12">
		<Fragment set:html={spot} />
	</h2> */
}
