---
import { Image } from "astro:assets";
import Layout from "~layouts/Layout.astro";

type Props = {
    title: string;
    description: string;
    seoImage?: string;
    category: string;
    collection: string;
    spot: string;
    awarded?: boolean;
    coverImage: ImageMetadata;
    otherImages?: ImageMetadata[];
};

const {
    title,
    description,
    seoImage,
    category,
    collection,
    spot,
    awarded = false,
    coverImage,
    otherImages,
} = Astro.props;

import SingleItemCoverImage from "~components/SingleItemCoverImage.astro";
import Awardimage from "~components/Awardimage.astro";
---

<Layout title={title} description={description} seoImage={seoImage}>
    <h6 class="font-light text-mavi text-sm uppercase">
        <a title={category} aria-label={category} href={`/${collection}/`}>{category}</a>
    </h6>
    <h1 class="font-zilla text-5xl my-12">{title}</h1>

    <SingleItemCoverImage src={coverImage} alt={title} />

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 my-4 lg:my-8">
        <div>
            <h2 class="font-zilla text-5xl mt-0 mb-8">{spot}</h2>
            {awarded && <Awardimage alt={title} />}
        </div>
        <div>
            <slot />
        </div>
    </div>

    {
        otherImages &&
            otherImages.map((image) => (
                <Image
                    src={image}
                    alt={title}
                    class="w-full my-4"
                    widths={[640, 768, 1024, image.width]}
                    sizes={`(max-width: 640px) 608px, (max-width: 768px) 736px, (max-width: 1024px) 992px, (max-width: 1280px) 1248px, (min-width: 1280px) ${image.width}px`}
                />
            ))
    }
</Layout>
