---
import { getCollection } from "astro:content";
import ArticleTitle from "~components/articleTitle.astro";
import HoverItem from "~components/HoverItem.astro";
import MoreInfo from "~components/MoreInfo.astro";
import VimeoVideo from "~components/VimeoVideo.astro";
import Layout from "~layouts/Layout.astro";

const allSRD = await getCollection("halka-arz-reklam-kampanyalari");

const TITLE = "Halka Arz Reklam Kampanyaları";
const DESCRIPTION = "Marka iletişimini aşk evliliğine benzetirsek yatırımcı iletişiminin daha çok “mantık evliliği” olduğunu söyleyebiliriz. Kendimizi, müstakbel damadın iyi yönlerini gelinin ailesine anlatan çöpçatanlar olarak görürüz.";
const MOREINFO = `
<p>Yatırım kararını etkileyen en önemli unsur, kuruma duyulan güven ve kurum itibarıdır. Yatırımcı, yatırım yaptığı şirketin yarın da var olacağından ve kârlılığını devam ettireceğinden emin olmak ister. Bu açıdan baktığımızda marka iletişimini aşk evliliğine benzetirsek, finansal iletişimin, özellikle de halka arz iletişiminin daha çok "mantık evliliği" olduğunu söyleyebiliriz. Kendimizi, müstakbel damadın iyi yönlerini gelinin ailesine anlatan çöpçatanlar olarak görürüz.</p>
<p>Bir halka arz kampanyasının başarısını etkileyen en önemli unsur, şirketi ve beklentilerini iyi anlamaktır. Ortada halka arza kadar, birçok zorluklar aşılarak yazılmış bir başarı hikayesi vardır ve bu büyüme hikayesi kendine yeni ortaklar aramaktadır.</p>
<p>Doğru bir ton, şirketi ve geleceğini iyi yansıtan doğru mesajlar ve analitik düşünceyi yaratıcılıkla buluşturan güçlü bir kreatif yaklaşımla hedef kitleye ulaşmak gerekir.</p>
`;
---

<Layout title={TITLE} description={DESCRIPTION} seoImage="./halka-arz-reklam-kampanyalari-og.png">
	<ArticleTitle title={TITLE} spot={DESCRIPTION} />
	<MoreInfo column={2} text={MOREINFO} />
	<VimeoVideo id="860060379" title={TITLE} classes="mb-12 mt-0" />
	<div class="grid auto-rows-max grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 lg:grid-cols-4 xl:gap-8">
		{allSRD.map((srd) => (srd.data.type == "onlyThumbnail" ? <HoverItem slug="#" title={srd.data.title} thumbnail={srd.data.thumbnail} thumbWidth={srd.data.thumbnail.width} thumbHeight={srd.data.thumbnail.height} /> : <HoverItem slug={srd.id} title={srd.data.title} thumbnail={srd.data.thumbnail} thumbWidth={srd.data.thumbnail.width} thumbHeight={srd.data.thumbnail.height} />))}
	</div>
</Layout>
